h1, h2, h3, h4 { color: #9b2335; }

a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; position: absolute; }
.sourceCode { overflow: visible; }
code.sourceCode { white-space: pre; position: relative; }

div.sourceCode { 
   background-color: #F4F4F4; 
   margin-left: 30pt; 
   margin-right: 30pt; 
   padding: 5Pt; 
   border-style: dashed; 
   border-width: 1pt; 
} 

code { background-color: #F4F4F4; }

pre.sourceCode { margin: 0; }

code span.al { color: #ef2929; } /* Alert */
code span.an { color: #8f5902; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #c4a000; } /* Attribute */
code span.bn { color: #0000cf; } /* BaseN */
code span.cf { color: #204a87; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4e9a06; } /* Char */
code span.cn { color: #000000; } /* Constant */
code span.co { color: #d02020; font-style: italic; } /* Comment */
code span.cv { color: #8f5902; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #8f5902; font-weight: bold; font-style: italic; } /* Documentation */
code span.dt { color: #000000; } /* DataType */
code span.dv { color: #0000cf; } /* DecVal */
code span.er { color: #a40000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #0000cf; } /* Float */
code span.fu { color: #000000; } /* Function */
code span.im { } /* Import */
code span.in { color: #8f5902; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #204a87; font-weight: bold; } /* Keyword */
code span.op { color: #ce5c00; font-weight: bold; } /* Operator */
code span.ot { color: #000000; } /* Other */
code span.pp { color: #8f5902; font-style: italic; } /* Preprocessor */
code span.sc { color: #000000; } /* SpecialChar */
code span.ss { color: #4e9a06; } /* SpecialString */
code span.st { color: #4e9a06; } /* String */
code span.va { color: #000000; } /* Variable */
code span.vs { color: #4e9a06; } /* VerbatimString */
code span.wa { color: #8f5902; font-weight: bold; font-style: italic; } /* Warning */

.w3-theme-l5 {color:#000 !important; background-color:#fbeff1 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f3cbd1 !important}
.w3-theme-l3 {color:#000 !important; background-color:#e796a2 !important}
.w3-theme-l2 {color:#fff !important; background-color:#db6274 !important}
.w3-theme-l1 {color:#fff !important; background-color:#ce2f47 !important}
.w3-theme-d1 {color:#fff !important; background-color:#8a1f2f !important}
.w3-theme-d2 {color:#fff !important; background-color:#7b1c2a !important}
.w3-theme-d3 {color:#fff !important; background-color:#6c1825 !important}
.w3-theme-d4 {color:#fff !important; background-color:#5c1520 !important}
.w3-theme-d5 {color:#fff !important; background-color:#4d111a !important}

.w3-theme-light {color:#000 !important; background-color:#fbeff1 !important}
.w3-theme-dark {color:#fff !important; background-color:#4d111a !important}
.w3-theme-action {color:#fff !important; background-color:#4d111a !important}

.w3-theme {color:#fff !important; background-color:#9b2335 !important}
.w3-text-theme {color:#9b2335 !important}
.w3-border-theme {border-color:#9b2335 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#9b2335 !important}
.w3-hover-text-theme {color:#9b2335 !important}
.w3-hover-border-theme:hover {border-color:#9b2335 !important}