/* http://www.colorschemedesigner.com/#3u11Tw0w0w0w0 */

/* ---------------------------------------------------------------
   General 
*/

body {
   margin: 10px;
   background-color: #64A8D1;
   color:            black;
   font-family:      sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   color: #0969A2;
}

a:link, a:visited
  { color:            #03436A;
    text-decoration:  none;
  }
  
a:hover 
  { text-decoration: underline;
  }

ul {
   list-style-type: square;
}

/* ---------------------------------------------------------------
   Header with menu, content, footer
*/

div.header, div.footer, div.content {
   background-color: #FFFFFF;
   border-width: 1px;
   border-style: solid;
   border-color: #03436A;
}

div.content {
   padding: 10px;
}

div.header {
   text-align: center;
   padding-top:      20px;
   padding-bottom:   20px;
   margin-bottom:    10px;
}

div.footer {
   text-align: center;
   padding-top:      5px;
   padding-bottom:   5px;
   margin-top:       10px;
   font-style:       italic;
}

span.menuitem {
   background-color: #03436A;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin: 15px;
}

div.ideas-logo {
   float: left;
   margin-left: 20px;
   margin-top: -12px;
}

div.ounl-logo {
   float: right;
   margin-right: 20px;
   margin-top: -15px;
}

.menuitem a:link, .menuitem a:visited, .menuitem a:hover {
   color: white;
   font-weight: bold;
}

/* ---------------------------------------------------------------
   Tables
*/

table {
   border-collapse:collapse;
}

table, th, td {
   border: 1px solid #03436A;
}

td {
   vertical-align:top;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 5px;
   padding-right: 5px;
}

tr.topRow {
   background-color: #03436A;
   color: white;
   font-weight: bold;
}

td.topCell {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 15px;
}

tr.evenRow {
   background-color: rgb(216, 233, 244);
}

/* ---------------------------------------------------------------
   Errors and warnings
*/

div.error, span.error {
   color: rgb(255,0,0);
   font-weight:      bold;
}

span.warning {
   color: rgb(255,165,0);
}

/* ---------------------------------------------------------------
   Ideas specific parts
*/

div.idbox {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-color:     #64A8D1;
    border-width:     1px;
    border-style:     solid;
}

span.id-code {
   color: #64A8D1;
   font-size: 12pt;
   font-weight: bold;
}

div.id-type {
   float: right;
   background-color: rgb(216, 233, 244);
   border: 1px solid #03436A;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 15px;
   padding-right: 15px;
}

div.id-description {
   font-style: italic;
   padding-top: 10px;
   padding-left: 30px;
}

div.derivation, div.step {
    background-color: rgb(216, 233, 244);
    padding-top:      0.5ex;
    padding-bottom:   0.5ex;
    padding-left:     3ex;
    padding-right:    3ex;
    border-color:     #03436A;
    border-width:     1px;
    border-style:     solid;
}

div.mathml {
   float: right;
   background-color: white;
   padding: 5px;
   margin-top: 5px;
}

.mathml a:link, .mathml a:visited, .mathml a:hover {
   color: #03436A;
   font-size: x-small;
}