body { 
  background-color: white;
  color:            black;
  font-family:      sans-serif;
}

h1 {
   font-size: 20pt;
}

h1, h2, h3 {
   color: rgb(41,134,189);
}

div.error {
   color: rgb(255,0,0);
   font-weight:      bold;
}

div.menu {
   text-align: center;
   background-color: white;
   padding-top:      10px;
   padding-bottom:   10px;
}

hr {
   border: 1px solid rgb(200,200,255);
   margin-top: 15px;
   margin-bottom: 15px;
}

body:before {
   content:url(ideas.png);
   float: left;
}

div.idbox {
    background-color: white;
    padding-top:      2px;
    padding-bottom:   2px;
    padding-left:     3ex;
    padding-right:    3ex;
    border-color:     rgb(200,200,200);
    border-width:     1px;
    border-style:     solid;
}

font.id {
   color: rgb(41,134,189);
   font-size: 12pt;
   font-weight: bold;
}


/*
div.derivation:before {
   content: "Before";
}

div.derivation:after {
   content: "After";
} */

div.derivation, div.step {
    background-color: rgb(235,235,235);
    padding-top:      0.5ex;
    padding-bottom:   0.5ex;
    padding-left:     3ex;
    padding-right:    3ex;
    border-color:     rgb(200,200,200);
    border-width:     1px;
    border-style:     solid;
}

table {
   border-style: solid;
   border-color: rgb(200,200,200);;
   border-width: 1px;
}

td {
   border-style: none;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 1ex;
   padding-right: 1ex;
}

tr.topRow {
   background-color: rgb(235,235,235);
   /* color: rgb(255,255,255); */
}

tr.evenRow {
   background-color: rgb(235,235,235);
}

tr.oddRow {
   background-color: rgb(255,255,255);
}

ul {
   list-style-type: square;
}

ul.papers li {
  background-color: rgb(215,215,255);
  padding-left: 5px;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

ul.papers {
  list-style-type: none;
  padding-left: 10px;
  margin-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

a:link
  { color:            rgb(255,97,8);
    text-decoration:  none;
  }

a:visited
  { color:            rgb(255,97,8);
    text-decoration:  none;
  }

a:hover 
  { text-decoration: underline;
  }
    
dt.header
  { padding-top:      2ex;
    font-weight:      bold;
    color:            rgb(41,134,189);
  }

dd.subheader
  { padding-top:      1ex;
    font-style:       italic;
  }
  
dl.information
  { background-color: rgb(215,215,255);
    padding-left:     3ex;
    padding-right:    3ex;
    padding-bottom:   2ex;
  }
  
dd.freeitem
  { padding-top:      2ex;
    margin-left:      0px;
  }
  
dd.item
  { padding-top:      0.5ex;
  }